@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

html,
input,
p,
a,
li {
  font-family: Signika, sans-serif;
  font-weight: 100;
  font-size: 22px;
}

a {
  color: #9891e0;
  text-decoration: none;
}

body {
  background: #011627;
  
  color: #FDFFFC;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 0;
  margin: 0;
}


#root {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}